[submodule "binary-websocket-api"]
	path = binary-websocket-api
	url = git@github.com:regentmarkets/binary-websocket-api.git
	branch = master
[submodule "bom-core"]
	path = bom-core
	url = https://github.com/regentmarkets/bom-core.git
