[submodule "bom-core"]
	path = bom-core
	url = https://github.com/regentmarkets/bom-core.git
	branch = master
[submodule "bom-core"]
	path = bom-core
	url = https://github.com/regentmarkets/bom-core.git
